In [1]:
import pandas as pd
df = pd.read_csv("data/exam_sample.csv")
df

   student_no class  science  english  math sex
0           1     A       50       98    50   m
1           2     A       60       97    60   w
2           3     A       78       86    45   w
3           4     A       58       98    30   m
4           5     B       65       80    90   w
5           6     B       98       89    50   m
6           7     B       45       90    80   m
7           8     B       25       78    90   w
8           9     C       15       98    20   w
9          10     C       45       93    50   w

In [2]:
df_class = df.groupby(['class'])
df_class

In [3]:
df_class.get_group("A")

   student_no class  science  english  math sex
0           1     A       50       98    50   m
1           2     A       60       97    60   w
2           3     A       78       86    45   w
3           4     A       58       98    30   m

- mean() 함수 안되는 이유
    - pandas 2.0.0 버전부터 numeric_only Default 값이 None → False 로 변경되었기 때문
    - mean() 안에 numeric_only = True 입력해줘야 함

In [8]:
df_class.mean()

TypeError: agg function failed [how->mean,dtype->object]

In [5]:
df_class.mean(numeric_only=True)

       student_no  science  english   math
class
A             2.5    61.50    94.75  46.25
B             6.5    58.25    84.25  77.50
C             9.5    30.00    95.50  35.00

In [7]:
df.groupby(['class', 'sex']).mean()

           student_no  science  english  math
class sex
A     m           2.5     54.0     98.0  40.0
      w           2.5     69.0     91.5  52.5
B     m           6.5     71.5     89.5  65.0
      w           6.5     45.0     79.0  90.0
C     w           9.5     30.0     95.5  35.0

In [9]:
df_class[['math']].mean(numeric_only=True)

        math
class
A      46.25
B      77.50
C      35.00

In [10]:
df_class.mean(numeric_only=True)['math']

class
A    46.25
B    77.50
C    35.00
Name: math, dtype: float64

- agg : 집계 연산

In [11]:
import numpy as np

In [12]:
df_class.agg({'math' : np.max, 'english' : np.min })

C:\Users\user\AppData\Local\Temp\ipykernel_5432\1202082636.py:1: FutureWarning: The provided callable <function max at 0x0000022ECDDEDF80> is currently using SeriesGroupBy.max. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'max' instead.
  df_class.agg({'math' : np.max, 'english' : np.min })
C:\Users\user\AppData\Local\Temp\ipykernel_5432\1202082636.py:1: FutureWarning: The provided callable <function min at 0x0000022ECDDEE0C0> is currently using SeriesGroupBy.min. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'min' instead.
  df_class.agg({'math' : np.max, 'english' : np.min })

       math  english
class
A        60       86
B        90       78
C        50       93

In [13]:
df_class.agg({'math' : np.mean, 'english' : np.sum })

C:\Users\user\AppData\Local\Temp\ipykernel_5432\1361235865.py:1: FutureWarning: The provided callable <function mean at 0x0000022ECDDEE980> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'mean' instead.
  df_class.agg({'math' : np.mean, 'english' : np.sum })
C:\Users\user\AppData\Local\Temp\ipykernel_5432\1361235865.py:1: FutureWarning: The provided callable <function sum at 0x0000022ECDDED8A0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'sum' instead.
  df_class.agg({'math' : np.mean, 'english' : np.sum })

        math  english
class
A      46.25      379
B      77.50      337
C      35.00      191

In [14]:
df_class.agg({'math' : [np.mean, np.sum], 'english' : np.sum })

C:\Users\user\AppData\Local\Temp\ipykernel_5432\3177777226.py:1: FutureWarning: The provided callable <function mean at 0x0000022ECDDEE980> is currently using SeriesGroupBy.mean. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'mean' instead.
  df_class.agg({'math' : [np.mean, np.sum], 'english' : np.sum })
C:\Users\user\AppData\Local\Temp\ipykernel_5432\3177777226.py:1: FutureWarning: The provided callable <function sum at 0x0000022ECDDED8A0> is currently using SeriesGroupBy.sum. In a future version of pandas, the provided callable will be used directly. To keep current behavior pass 'sum' instead.
  df_class.agg({'math' : [np.mean, np.sum], 'english' : np.sum })

        math      english
        mean  sum     sum
class
A      46.25  185     379
B      77.50  310     337
C      35.00   70     191